body {
  max-width: 1000px;
  min-width: 800px;
  margin: 10px auto 10px auto;
  padding: 10px;
  /* border: 4px double black; */
  background-color: #B7CDCC;
  font-family: monospace, sans-serif;
  font-weight: bold;
  font-size: large;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header header"
  "usd eur jpy"
  "gbp aud cad"
  "chf cny hkd"
  "nzd sek krw"
  "sgd nok mxn"
  "inr rub zar"
  "try brl twd";
  grid-gap: 0.2rem;
  border-radius: 5px;
  padding: 10px;
  background-color: #6C9674;
}


.currency {
  border: 3px solid black;
  padding: 10px;
  text-align: center;
  background-color: #C7C4A1;
  min-width: 100px;
  border-collapse: collapse;
  border-radius: 5px;
  font-size: larger;
}
.change {
  animation-duration: 2s;
  animation-name: fadediv;
}
#placeholder {
  grid-area: ph;
}
#usd {
  grid-area: usd;
}
/* #btcusd.change {
    animation-duration: 2s;
    animation-name: fadediv;
} */
#eur {
  grid-area: eur;
}
#jpy {
  grid-area: jpy;
}
#gbp {
  grid-area: gbp;
}
#aud {
  grid-area: aud;
}
#cad {
  grid-area: cad;
}
#chf {
  grid-area: chf;
}
#cny {
  grid-area: cny;
}
#hkd {
  grid-area: hkd;
}
#nzd {
  grid-area: nzd;
}
#sek {
  grid-area: sek;
}
#krw {
  grid-area: krw;
}
#sgd {
  grid-area: sgd;
}
#nok {
  grid-area: nok;
}
#mxn {
  grid-area: mxn;
}
#inr {
  grid-area: inr;
}
#rub {
  grid-area: rub;
}
#zar {
  grid-area: zar;
}
#try {
  grid-area: try;
}
#brl {
  grid-area: brl;
}
#twd {
  grid-area: twd;
}
#header {
  grid-area: header;
  text-align: center;
  border: 3px solid black;
}
.yes {
  background-color: #86a858f5;
  font-weight: bold;
}
.no {
  background-color: #FCB526;
  font-weight: bold;
}
.ath {
  font-size: large;
  color: #49767E
}
.price {
  font-size: larger;
  font-weight: bold;
  color: #B05D23
}
.percent {
  font-size: large;
  font-weight: bold;
  color: #b02823;
}
@keyframes fadediv {
  from {background-color: rgba(255, 255, 255, 0.666);}
  to {background-color: #C7C4A1;}
}